ol, ul {
	list-style: none;
}
.wrapper{
    background: url(../images/background.jpg) no-repeat;
    position: absolute;
    width: 100%;
    height: 100%;
    background-size: cover;
    background-position: center;
    overflow: hidden;
}
.districts{
    width: 500px;
}
.district{
    position: relative;
}
.district:nth-child(3){
    margin-top: -30px;
}
.district:nth-child(3) .district_name{
    color: #000 !important;
}
.district_name {
    position: absolute;
    text-align: center;
    width: 100%;
    height: 100%;
}
.district_name a{
    text-decoration: none;
    font-weight: bold;
    font-size: 25px;
    color: #fff;
}
.district_name h3{
    margin: 0;
    vertical-align: middle;
    height: 250px;
    line-height: 220px;
    cursor: pointer;
}
.district svg{
    stroke-dasharray: 1000;
    stroke-dashoffset: 1000;
    fill-opacity: 0.5;
    stroke-linecap: butt;
    -webkit-transition: all 1s ease-out;
    -moz-transition: all 1s ease-out;
    -ms-transition: all 1s ease-out;
    -o-transition: all 1s ease-out;
    transition: all 1s ease-out;
}
.district:hover svg{
    fill-opacity: 1;
    stroke-dashoffset: 0;
    stroke-dasharray: 1000;
}
.district_id{
    margin-right: 5px;
}
.row{
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    height: 100%;
}
.container-fluid{
    display: flex;
    height: 100%;
    justify-content: center;
    -ms-flex-align: center;
    align-items: center;
}
.noDistrict{
    color:#000;
    font-size:25px;
    padding: 20px;
    border: 3px solid #fff;
    background: rgba(255,255,255, 0.7)
}
.modal{
    display: block !important;
    background: rgba(255,255,255, 0.6);
}
.modal-dialog{
    display: none;
}
#hamburgerLoader{
    background: url('../images/hamburger.png') no-repeat;
    height: 200px;
    width:200px;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-top: -100px;
    margin-left: -100px;
    animation: spin 2s infinite linear;
}
@-webkit-keyframes spin{
    0%{
    -moz-transform: rotateZ(0deg);
    -webkit-transform: rotateZ(0deg);
    -o-transform: rotateZ(0deg);
    -ms-transform: rotateZ(0deg);
    }
    100%{
    -moz-transform: rotateZ(360deg);
    -webkit-transform: rotateZ(360deg);
    -o-transform: rotateZ(360deg);
    -ms-transform: rotateZ(360deg);
    }
}

@-moz-keyframes spin{
    0%{
    -moz-transform: rotateZ(0deg);
    -webkit-transform: rotateZ(0deg);
    -o-transform: rotateZ(0deg);
    -ms-transform: rotateZ(0deg);
    }
    100%{
    -moz-transform: rotateZ(360deg);
    -webkit-transform: rotateZ(360deg);
    -o-transform: rotateZ(360deg);
    -ms-transform: rotateZ(360deg);
    }
}

@-o-keyframes spin{
    0%{
    -moz-transform: rotateZ(0deg);
    -webkit-transform: rotateZ(0deg);
    -o-transform: rotateZ(0deg);
    -ms-transform: rotateZ(0deg);
    }
    100%{
    -moz-transform: rotateZ(360deg);
    -webkit-transform: rotateZ(360deg);
    -o-transform: rotateZ(360deg);
    -ms-transform: rotateZ(360deg);
    }
}

@-ms-keyframes spin{
    0%{
    -moz-transform: rotateZ(0deg);
    -webkit-transform: rotateZ(0deg);
    -o-transform: rotateZ(0deg);
    -ms-transform: rotateZ(0deg);
    }
    100%{
    -moz-transform: rotateZ(360deg);
    -webkit-transform: rotateZ(360deg);
    -o-transform: rotateZ(360deg);
    -ms-transform: rotateZ(360deg);
    }
}
.btn-secondary a{
    color: #fff;
    text-decoration: none;
}


@keyframes shake {
10%, 90% {
    transform: translate3d(-1px, 0, 0);
    }
    
    20%, 80% {
    transform: translate3d(2px, 0, 0);
    }

    30%, 50%, 70% {
    transform: translate3d(-4px, 0, 0);
    }

    40%, 60% {
    transform: translate3d(4px, 0, 0);
    }
  }
  
  .district.shake {
      animation: shake 0.8s;
  }

  @media only screen and (max-width: 500px)  {
    .district:nth-child(3){
        margin-top: 0px;
    }
    .district{
        margin-bottom: 10px;
    }
    .district svg{
        height: 200px;
        width: 200px;
    }
  }